@font-face{
    font-family : 'wunderland';
    src: url('/assets/fonts/Im Wunderland Spaced Out.otf');
}
@font-face{
    font-family : 'goudy';
    src: url('/assets/fonts/GOUDYSTO.TTF');
}
@font-face{
    font-family : 'liberation';
    src: url('/assets/fonts/LiberationMono-Regular.ttf');
}

*{
    margin: 0;
}

 html, body{
     margin: 0;
     margin-left: 0;
     width: 100vw;
     height: 100vh;
    justify-content: center;
} 

.sidenav {
    height: 100%;
    width: 15%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #009688;
    overflow-x: hidden;
    padding-top: 20px;
    margin: 0;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-family: 'wunderland';
    font-size: 2.3em;
    color: #d4e8e5;
    display: block;
}

.sidenav a:hover {
    color: #d4e8e5;
    background-color: #80cbc4;
    border-right: 2px solid #263238;
}

.navbar{
    position: absolute;
    visibility: hidden;
}


#header{
    display: flex;
    flex: none;
    background-color: #263238;
    height: 810px;
    width: 100vw;
}

#header>#titre>div{
    display: flex;
    margin-left: 300px;
}

@keyframes name-anim{
    0%{margin-left: 200vw; visibility: hidden;}
    100%{margin-left: 2vw;}
}


#titre>div>h1{
    position: relative;
    font-family: 'goudy';
    color: #d4e8e5;
    margin-top: 40vh;
    font-size: 4em;
    margin-left: 2vw;
    animation-name: name-anim;
    animation-duration: 3s;
}

@keyframes titre-anim{
    0%{margin-left: 400vw; visibility: hidden;flex: none;}
    100%{margin-left: 4vw;flex: none;}
}
#titre>div>h3{
    position: relative;
    font-family: 'wunderland';
    color: #d4e8e5;
    margin-top: 20vh;
    font-size: 3em;
    margin-left: 4vw;
    animation-name: titre-anim;
    animation-duration: 3s;
}


@keyframes bg-header-anim{
    0%{right:-50%;opacity: 0; }          
    100%{right: 0; opacity: 0.2;}
} 
#header-bg{
    position: relative;
    opacity: 0.2;
    height: 810px;
    transform-origin: right;
    right: 0;
    animation-name: bg-header-anim;
    animation-duration: 1.5s;
}



#apropos{
    display: flex;
    background-color: #00695c;
    height: 100vh;
    width: 100vw;
}

#apropos>#titre-apropos>h1{
    font-family: 'wunderland';
    margin-left: 50vw;
}

#text-apropos{
    margin-left: 20vw;
    margin-right: 30vw;
    margin-top: 30vh;
}

#titre-apropos>h1{
    font-family: 'wunderland';
    color: #d4e8e5;
    font-size: 7vw;
}
#p-apropos>p{
    font-family: 'liberation';
    color: #d4e8e5;
    font-size: 1.5vw;
    margin-right: 10vw;
    /* background-color: rgba(38, 50, 58, 0.5); */
}


#bg-apropos{
    position: absolute;
    opacity: 0.2;
    height: 100vh;
    left: 14vw;
}

#technos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 17vw;
    width: 70vw; 
    height: 98vh;
}

#bg-technos{
    background-color: #263238;
    width: 100vw;
    height: 100vh;
}

#technos>div{
    margin-top: 2vh;
}

#technos>h1{
    font-family: 'liberation';
    color: #d4e8e5;
    font-size: 2vw;
    margin-top: 1vh;
}

.progress-bar{
    background-color: #009688;
}


#bg-pc{
    position: absolute;
    opacity: 0.3;
    height: 100vh;
    right: -2vw;
    margin-top: 8px;
}

#projets{
    background-color: #00695c;
    height: 100vh;
    width: 100vw;
}


.carousel{
    height: 100vh;
}

.carousel ol{
    margin-left: 25vw;
}

.carousel-item {
    text-align: center;
    height: 100vh;
    color: #d4e8e5; 
}

.carousel-content{
    height: 100vh;
    width: 80vw;
    background-color: rgba(38, 50, 58, 0.2);
    box-shadow: 0px 2px 10px rgba(38, 50, 58, 0.5);
    margin-left: 16vw;
}

.carousel-caption{
    display: flex;
    flex-direction: column;
    grid-template-columns: auto;
    justify-content: center;
    margin-left: 12vw;
    margin-bottom: 30vh;
}

.carousel-item h3{
    font-family: 'wunderland';
    font-size: 5vw;
}
.carousel-item p{
    font-family: 'liberation';
    font-size: 1.5vw;
}

.carousel-control-prev{
    margin-left: 14vw;
}

.carousel-caption a{
   color: #009688;
   text-decoration: none;
}

.carousel-caption a:hover{
   color: #80cbc4;
}

#contact{
    background-color: #263238;
    height: 100vh;
    width: 100vw;
}

.form{
    display: flex;
    flex-direction: column;
    position: sticky;
     margin-top: 2.5vh;
     margin-left: 38vw;
     margin-bottom: 10vh;
     height: 80vh;
}

.form-group label{
    color: #d4e8e5;
    font-family: 'liberation';
    font-size: 2vw;
}

.form-control{
    width: 40vw;
}

#textarea{
    width: 40vw;
    height: 20vw;
}

input{
    font-family: "liberation";
}

.btn{
    background-color: #009688;
    font-family: 'liberation';
    color : #d4e8e5;
}
.btn:hover{
    background-color: #00695c;
    color : #263238;
}

.footer{
    position: sticky;
    left: 0;
    bottom: -1;
    width: 100vw;
    height: 10vh;
    font-family: 'liberation';
    font-size: 0.8vw;
    color: #d4e8e5;
    background-color: #263238;
}

#links{
    display: flex;
    width: 10vw; 
    margin-left: 52vw;
}

#links>a{
    margin-left: 1vw;
}

.footer-copyright{
    margin-left: 15vw;
}
/*----------------tabletScreenDisplay------------------*/
@media screen and (max-width: 992px){


body{
    box-sizing: border-box;
    margin: 0;
    width: 100vw;
    height: 100vh;
} 
.sidenav,#header-bg, #bg-apropos, #bg-pc{
    display: none;
    position: absolute;
    visibility: hidden;
    margin: 0;
}

#header{
    height: 100vh;
    width: 100vw;
}

#smallLogo{
    margin: 0;
    padding: 0;
}

.navbar{
    visibility: visible;
    margin: 0;
    background-color: #009688;
    position: relative;
    width: 100vw;
}
.navbar img{
    width: 64px;
}

.navbar a{
    color: #d4e8e5;
    text-decoration: none;
    font-family: 'wunderland';
    font-size: 1.7em;
}
.navbar a:hover{
    border-bottom: 2px solid #263238;
}


#header>#titre>div{
    margin-left: 15vw;
    margin-top: 5vh;
}

#titre>div>h1{
    margin-top: 16vw;
    font-size: 8vw;
}

#titre>div>h3{
    font-size: 7vw;
    margin-top: 5vw;
}

#text-apropos{
    margin-left: 15vw;
    margin-right: 25vw;
    margin-top: 30vh;
    
}

#titre-apropos>h1{
    font-size: 9vw;
}
#p-apropos>p{
    margin-right: 15vw;
    background-color: rgba(38, 50, 58, 0.5);
    padding: 2vh 1vw 2vh 1vw;
    font-size: 2vw;
}

#technos{
    margin-left: 10vw;
}
#technos>div{
    margin-top: 2vh;
}

#technos>h1{
    font-size: 2.5vw;
}

.carousel-item h3{
    font-size: 6vw;
}
.carousel-item p{
    font-size: 2vw;
}

.carousel ol{
    margin: auto;
}

.carousel-item {
    margin: auto; 
}
.carousel-content{
    margin: auto;
}

.carousel-caption{
    margin: auto;
    margin-bottom: 30vh;
}

.carousel-control-prev{
    margin: auto;
}

.form{
    margin: 10vh auto auto auto;
    height: 80vh;
}

.form-group label, .btn{
    font-size: 2vw;
}

.form-control{
    width: 60vw;
}

#textarea{
    width: 60vw;
    height: 20vw;
}

input{
    font-size: 2vw;
}

#footer{
    width: 100vw;
    height: 10vh;
    font-family: 'liberation';
    font-size: 0.8vw;
    color: #d4e8e5;
    background-color: #263238;
}

#links{
    display: flex;
    width: 15vw; 
    margin: auto;
}

#links>a{
    margin-left: 1vw;
}


.footer-copyright{
    margin: auto;
}

}

/*----------------mediumscreenDisplay------------------*/
@media screen and (max-width:768px){
    
@viewport{
    orientation: portrait;
}

  
.navbar img{
    width: 48px;
}

.navbar a{
    font-size: 1.5em;
}

#header>#titre>div{
    margin-left: 14vw;
}

#titre>div>h1{
    margin-top: 20vw;
    font-size: 8vw;
}

#titre>div>h3{
    font-size: 6vw;
    margin-left:3vw;
}


#text-apropos{
    margin-left: 15vw;
    margin-right: 25vw;
    margin-top: 20vh;
    
}

#titre-apropos>h1{
    font-size: 9vw;
}
#p-apropos>p{
    margin-right: 15vw;
    background-color: rgba(38, 50, 58, 0.5);
    padding: 2vh 1vw 2vh 1vw;
    font-size: 3vw;
}

#technos>h1{
    font-size: 4vw;
}

.carousel-item h3{
    font-size: 5vw;
}
.carousel-item p{
    font-size: 2.5vw;
}

.carousel-content{
    margin: auto;
}

.carousel-caption{
    margin: auto;
    margin-bottom: 20vh;
}

.form-group label, .btn{
    font-size: 3vw;
}

}

/*----------------smallscreenDisplay------------------*/
@media screen and (max-width: 480px){

@viewport{
    orientation: portrait;
}


.navbar img{
    width: 32px;
}

.navbar a{
    font-size: 1.2em;
}

#header>#titre>div{
    margin-left: 7vw;
}

#titre>div>h1{
    margin-left: -1vw;    
    margin-top: 50vw;
    font-size: 9vw;
}

#titre>div>h3{
    font-size: 10vw;
    margin-left: 3vw;
}


#text-apropos{
    margin-left: 15vw;
    margin-right: 25vw;
    margin-top: 30vh;
    
}

.carousel-item h3{
    font-size: 7vw;
}
.carousel-item p{
    font-size: 3vw;
}
.carousel-caption{
    margin-bottom: 25vh;
}

#textarea{
    width: 60vw;
    height: 15vw;
}

.form-group label, .btn{
    font-size: 4vw;
}


#links{
    padding-top: 2vh;
    width: 20vw;
}
}