@font-face{
    font-family : 'wunderland';
    src: url('/assets/fonts/Im Wunderland Spaced Out.otf');
}
@font-face{
    font-family : 'goudy';
    src: url('/assets/fonts/GOUDYSTO.TTF');
}
@font-face{
    font-family : 'liberation';
    src: url('/assets/fonts/LiberationMono-Regular.ttf');
}

@viewport{
    orientation: portrait;
}

*{
    margin: 0;
}

 body{
    box-sizing: border-box;
    margin: 0;
    width: 100%;
    height: 100%;
} 

.sidenav {
    height: 100%;
    width: 15%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #009688;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-family: 'wunderland';
    font-size: 2.3em;
    color: #d4e8e5;
    display: block;
}

.sidenav a:hover {
    color: #d4e8e5;
    background-color: #80cbc4;
    border-right: 2px solid #263238;
}

.navbar{
    position: absolute;
    visibility: hidden;
}


#header{
    display: flex;
    flex: none;
    background-color: #263238;
    height: 810px;
    width: 100%;
}

#header>#titre>div{
    display: flex;
    margin-left: 300px;
}

#titre>div>h1{
    position: relative;
    font-family: 'goudy';
    color: #d4e8e5;
    margin-top: 60%;
    font-size: 4em;
    margin-left: 2vw;
}

#titre>div>h3{
    position: relative;
    font-family: 'wunderland';
    color: #d4e8e5;
    margin-top: 200px;
    font-size: 3em;
    margin-left: 4vw;
}

#header-bg{
    position: static;
    opacity: 0.2;
    height: 100%;
    transform-origin: right;
    right: 14px;
}

#apropos{
    display: flex;
    background-color: #00695c;
    height: 100vh;
    width: 100%;
}

#apropos>#titre-apropos>h1{
    font-family: 'wunderland';
    margin-left: 50%
}

#text-apropos{
    margin-left: 20vw;
    margin-right: 30vw;
    margin-top: 30vh;
}

#titre-apropos>h1{
    font-family: 'wunderland';
    color: #d4e8e5;
    font-size: 9vw;
}
#p-apropos>p{
    font-family: 'liberation';
    color: #d4e8e5;
    font-size: 1.5vw;
    margin-right: 10vw;
    /* background-color: rgba(38, 50, 58, 0.5); */
}


#bg-apropos{
    position: absolute;
    opacity: 0.2;
    height: 100%;
    left: 14vw;
}


/*----------------tabletScreenDisplay------------------*/
@media screen and (max-width: 992px){

.sidenav,#header-bg, #bg-apropos{
    display: none;
    position: absolute;
    margin: 0;
    visibility: hidden;
}

#header{
    height: 98vh;
    width: 100%;
}

#smallLogo{
    margin: 0;
    padding: 0;
}

.navbar{
    visibility: visible;
    margin: 0;
    background-color: #009688;
    position: relative;
}
.navbar img{
    width: 64px;
}

.navbar a{
    color: #d4e8e5;
    text-decoration: none;
    font-family: 'wunderland';
    font-size: 1.7em;
}
.navbar a:hover{
    border-bottom: 2px solid #263238;
}


#header>#titre>div{
    margin-left: 15vw;
}

#titre>div>h1{
    margin-top: 16vw;
    font-size: 8vw;
}

#titre>div>h3{
    font-size: 7vw;
}

#text-apropos{
    margin-left: 15vw;
    margin-right: 25vw;
    margin-top: 30vh;
    
}

#titre-apropos>h1{
    font-size: 9vw;
}
#p-apropos>p{
    margin-right: 15vw;
    background-color: rgba(38, 50, 58, 0.5);
    padding: 2vh 1vw 2vh 1vw;
    font-size: 2vw;
}


}

/*----------------mediumscreenDisplay------------------*/

@media screen and (max-width:768px){

.navbar img{
    width: 48px;
}

.navbar a{
    font-size: 1.5em;
}

#header>#titre>div{
    margin-left: 14vw;
}

#titre>div>h1{
    margin-top: 20vw;
    font-size: 8vw;
}

#titre>div>h3{
    font-size: 6vw;
    margin-left:3vw;
}


#text-apropos{
    margin-left: 15vw;
    margin-right: 25vw;
    margin-top: 20vh;
    
}

#titre-apropos>h1{
    font-size: 9vw;
}
#p-apropos>p{
    margin-right: 15vw;
    background-color: rgba(38, 50, 58, 0.5);
    padding: 2vh 1vw 2vh 1vw;
    font-size: 3vw;
}

}

/*----------------smallscreenDisplay------------------*/
@media screen and (max-width: 480px){



.navbar img{
    width: 32px;
}

.navbar a{
    font-size: 1.2em;
}

#header>#titre>div{
    margin-left: 7vw;
}

#titre>div>h1{
    margin-left: -1vw;    
    margin-top: 50vw;
    font-size: 9vw;
}

#titre>div>h3{
    font-size: 10vw;
    margin-left: 3vw;
}


#text-apropos{
    margin-left: 15vw;
    margin-right: 25vw;
    margin-top: 30vh;
    
}

}